[submodule "ExploreEngine/ThirdLib/spdlog"]
	path = ExploreEngine/ThirdLib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/TheCherno/glfw
[submodule "ExploreEngine/ThirdLib/imgui"]
	path = ExploreEngine/ThirdLib/imgui
	url = https://github.com/TheCherno/imgui
[submodule "ExploreEngine/ThirdLib/glm"]
	path = ExploreEngine/ThirdLib/glm
	url = https://github.com/g-truc/glm
[submodule "ExploreEngine/ThirdLib/yaml-cpp"]
	path = ExploreEngine/ThirdLib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
